<!DOCTYPE html>
 <html lang = "en">
     <head>
         <meta charset = "UTF-8" />
         <meta name = "viewport" content= "width = device-width, initial-scale = 1.0" />
         <title>Chat</title>
     </head>
    <body onload="prevChats()">
        <p id="chatLog">chatbot<br></p>

        <input type = "text" id = "hum" name="hum" onkeydown="if(event.keyCode == 13){ talk()}" placeholder="Type your Question"> <br> <br>
        <a href="/logout">Logout</a> 
        <script>    
        function prevChats(){
            const result =  fetch("/prevchat", {
                   method : "GET",
                   headers : {
                       'Content-Type' : 'application/json'
                   },
               })
               .then(res => res.json())
               .then((data) => {  
                console.log(result); 
                var t="";    
                data.forEach(element => {
                    t+=element.message+"<br>";
                });   
                    document.getElementById("chatLog").innerHTML = t;
            })
          
        }  
           function talk() {    
            var t = document.getElementById("hum").value
            document.getElementById("hum").value = ""
            document.getElementById("chatLog").innerHTML += t + "<br>"     
               const result =  fetch("/chatbot", {
                   method : "POST",
                   headers : {
                       'Content-Type' : 'application/json'
                   },
                   body : JSON.stringify({
                    hum:t,
                   })  
               })
               .then(res => res.json())
               .then((data) => {  
                console.log(result);        
                if (data===null|| data===undefined) {
                 document.getElementById("chatLog").innerHTML =  document.getElementById("chatLog").innerHTML+"I don't know what you are asking." + "<br>";
                 } else {
                    const resp = data;
                    console.log(resp)
                    document.getElementById("chatLog").innerHTML = document.getElementById("chatLog").innerHTML +resp.data + "<br>";
                }
            })
          }
</script>

</body>
</html>